@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Farvevariabler */
:root {
    --primary: #007bff;
    --neon-pink: #ff6ec4;
    --neon-purple: #9d50ff;
    --neon-blue: #3a86ff;
}

body {
    font-family: "Neue Montreal", sans-serif !important;
}

a {
    color: var(--neon-pink);
    text-decoration: none;
    transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

[target]:target {
    color: #7e22ce; /* Equivalent to text-purple-500 */
    font-weight: bold; /* Equivalent to font-bold */
}

a:hover {
    color: var(--neon-purple);
    text-shadow: 0 0 8px var(--neon-purple), 0 0 16px var(--neon-blue);
}

@keyframes moveGrid {
    from {
        transform: scale(1.02) translate(0, 0);
    }
    to {
        transform: scale(1.02) translate(-40px, -40px);
    }
}
